<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
  </style>
</head>
<body>
   <h1>{{title}}</h1>
   <h2>{{body}}</h2>
   <button type="button" id="register_button"> Register to use the app! </button>
   <button type="button" id="useapp_button"> Login to use the app! </button>
    <button type="button" id="see_users_button"> See list of users (ADMIN ONLY) </button>
   {{! js files}}
   <script src="/routes/eventListeners.js"></script>
</body>
</html>